body
{
background-color: #DEB887;
}
form
{
 width: 40px;
 height: 
}

div{
	background-color: red;
}

.klasa_I
{
	color: green;
	
}

#styl_II
{
	background-color: #FAA8DC;
}



a:link {
    color: yellow; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
